{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>ONLINE MEDICINE DONATION PORTAL</title>
<link rel="stylesheet" href="{% static 'css/style2.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#"><img src="{% static 'img/Logo.jpg'%}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="index"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about"><i class="fa fa-user"></i>About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="ourteam"><i class="fa fa-users"></i>Team</a>
      </li>
    </ul>
  </div>
</nav>
 <div class="about-section">
  <div class="inner-container">
    <b><h2> ABOUT US</h2></b>
    <p class="text">
      <b>“We can’t help everyone, but…Everyone can help someone.”- Dr.Loretta Scott</b>
      <br>Global access to high-quality medicines and other medical items is critical for people's health to be maintained and improved. Because of global health inequities, many low and middle-income nations face shortages of essential medicines and medical supplies. External governments, pharmaceutical corporations and NGOs provide donations to countries or particular health facilities to help close the gap. Medicine and other medical product donations are an important part of medical relief efforts, and they represent a global reaction to countries and regions hit by human and environmental disasters.
      For one third of all persons worldwide,access to essential medicines is problematic.Especially in the developing countries, the majority of the population cannot afford money for drugs ,vaccines and diagnosis of the disease. No detailed data is known on what happens to these unused drugs, but evidence collected suggests some are thrown in the trash or incinerated. The unused medications are flushed down the toilet as has been reported by some of the medical facilities.This is not only waste of money but also harmful for the environment.The unused medications are donated to help & benefit our community.The leftover medicines should be donated and not simply dumped. This project focuses on reduces and possibly eradicating this problem of lack of availability of medicines to people in need. 
      In this project, we try to build a system wherein the unused medicine can be put into use and at the same time can be used to help the ones who are in dire need of the same.
     </p>
  </div>
</div>
</section>
</body>
</html>