{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>ONLINE MEDICINE DONATION PORTAL</title>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-----Navigation Bar---->
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#"><img src="{% static 'img/Logo.jpg'%}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="index"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about"><i class="fa fa-user"></i>About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="ourteam"><i class="fa fa-users"></i>Team</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="index"><i class="fa fa-sign-out"></i>Log Out</a>
      </li>
    </ul>
  </div>
</nav>
  </section>
  <header>
  <div class="wrap">
    <h2>DONATE MEDICINE FORM</h2>
    <form action="/donations" method="post">
      {% csrf_token %}
      <input type="text" name="donor_name" placeholder="Name.." required="">
      <input type="text" name="email" placeholder="Email Address.." required="">
      <input type="text" name="phone" placeholder="Mobile Number.." required="">
      <input type="text" name="pickup_address" placeholder="Source Address.." required="">
      <input type="text" name="medicine_name" placeholder="Name of the medicine" required="">
      <h5>Purpose</style></h5>
       <select name="purpose">
      <option value="">Purpose</option>
     
               <option value="HEART PROBLEMS">HEART PROBLEMS</option>
               <option value="PAIN RELIEVER">PAIN RELIEVER</option>
               <option value="DIABETES">DIABETES</option>
               <option value="OTHERS">OTHERS</option>
     </select>
            <h5 >Expiry Date</h5>
      <input type="date" name="expiry_date" placeholder="dd/mm/yyyy">
     
      <input type="submit" name="submit" value="Submit">
      </form>   
  </div>
</header>
</body>
</html>