{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>ONLINE MEDICINE DONATION PORTAL</title>
<link rel="stylesheet" href="{% static 'css/style.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!-----Navigation Bar---->
  <section id="nav-bar">
    <nav class="navbar navbar-expand-lg navbar-light ">
  <a class="navbar-brand" href="#"><img src="{% static 'img/Logo.jpg'%}"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="index"><i class="fa fa-home"></i>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="about"><i class="fa fa-user"></i>About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="ourteam"><i class="fa fa-users"></i>Team</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="index"><i class="fa fa-sign-out"></i>Log Out</a>
      </li>
    </ul>
  </div>
</nav>
  </section>
  <header>
  <div class="hero-text-box">
                <h1 align="center">Welcome! {{variable }}</h1>
                <br>
                <center>
                <form action="/listofdonors" method="POST">
                {% csrf_token %}
                <input type="hidden" name="email" value={{variable1 }}>
                <button class="btn btn-success"  name="ngokanaam" value={{variable}}>VIEW DONORS</button>
                </form>
                <br>
                <form method="POST" action="/ngoprofileopen">
                {% csrf_token %}
                <button class="btn btn-success" name="profile" value={{variable1}}>MY PROFILE</button>
                </form>
                <br>
                <form action="/ngohistory" method="POST">
                {% csrf_token %}
                <button class="btn btn-success" name="ngokanaam" value={{variable}}>HISTORY</button>
                </form>
                </center>
  </div>
</header>
</body>
</html>